<!-- <app-add-product></app-add-product> -->
 <app-test></app-test>

<!-- 
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            Product Image
                        </mat-expansion-panel-header>

                        <ng-template matExpansionPanelContent>
                            <div class="d-flex">

                                <div class="avatar-upload">
                                    <div class="avatar-edit" [formGroup]="registrationForm">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                            (change)="uploadFile($event)" />
                                    </div>
                                    <div class="avatar-preview">
                                        <div (click)="fileInput.click()" id="imagePreview"
                                            [style.backgroundImage]="'url('+ imageUrl[0] +')'">
                                        </div>
                                    </div>
                                    <div class="text-center mt-2">IMG 1</div>
                                </div>

                                <div class="avatar-upload">
                                    <div class="avatar-edit" [formGroup]="registrationForm">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                            (change)="uploadFile($event)" />
                                    </div>
                                    <div class="avatar-preview">
                                        <div (click)="fileInput.click()" id="imagePreview"
                                            [style.backgroundImage]="'url('+ imageUrl[1] +')'">
                                        </div>
                                    </div>
                                    <div class="text-center mt-2">IMG 2</div>
                                </div>
                                <div class="avatar-upload">
                                    <div class="avatar-edit" [formGroup]="registrationForm">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                            (change)="uploadFile($event)" />
                                    </div>
                                    <div class="avatar-preview">
                                        <div (click)="fileInput.click()" id="imagePreview"
                                            [style.backgroundImage]="'url('+ imageUrl[2] +')'">
                                        </div>
                                    </div>
                                    <div class="text-center mt-2">IMG 3</div>
                                </div>
                                <div class="avatar-upload">
                                    <div class="avatar-edit" [formGroup]="registrationForm">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" #fileInput
                                            (change)="uploadFile($event)" />
                                    </div>
                                    <div class="avatar-preview">
                                        <div (click)="fileInput.click()" id="imagePreview"
                                            [style.backgroundImage]="'url('+ imageUrl[3] +')'">
                                        </div>
                                    </div>
                                    <div class="text-center mt-2">IMG 4</div>
                                </div>

                            </div>




                            <div class="row">
                                <div class="col-12">
                                    <h5 class="var-head">Variants</h5>
                                </div>

                       
                                <div class="col-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Size</mat-label>
                                        <input type="text" matInput placeholder="Pick one" aria-label="Size"
                                            [formControl]="myControl" [matAutocomplete]="autoSize" />
                                        <mat-autocomplete autoActiveFirstOption #autoSize="matAutocomplete">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                {{ option }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>

                               
                                <div class="col-3">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Color</mat-label>
                                        <input type="text" matInput placeholder="Pick one" aria-label="Color"
                                            [formControl]="myControl1" [matAutocomplete]="autoColor" />
                                        <mat-autocomplete autoActiveFirstOption #autoColor="matAutocomplete">
                                            <mat-option *ngFor="let color of filteredColors | async" [value]="color">
                                                {{ color }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>

                        </ng-template>
                    </mat-expansion-panel> -->